{% extends 'base.html' %}
{% load static %}

{%block title %} About me {% endblock %}
{%block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/aboutme.css' %}">
{% endblock %}
{%block h3tag %}About Me{%endblock%}

{%block activeaboutme %} activenavbar  {% endblock %}

{% block content %}
    <div class="aboutme-container">
        <div class="my-img">
            <img src="{%static 'img/others/myphoto1.png'%}">
        </div>
        <div class="my-personal-details">
            <div class="my-general-details-and-useragent">
                <div class="my-general-details hvr-rectangle-out">
                    
                    <h3 >ABOUT ME</h3>
                    
                    <div class="aboutme-paragraph">
                        <p class="white-color">Name:  <p class="grey-color"> Srivarshan</p></p>
                    </div>
                    
                    <div class="aboutme-paragraph">
                        <p class="white-color">Age:    <p class="grey-color">20</p></p>
                    </div>
                     
                    <div class="aboutme-paragraph">
                        <P class="white-color">Location: <p class="grey-color">Madurai/Tamilnadu</p></P>
                    </div>

                    <p class="grey-color small-desc-aboutme">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur excepturi, consequatur impedit perferendis inventore </p>
              
                </div>
                
                <div class="useragent">
                    <i class="fas fa-user-secret"></i>
                </div>
            </div>
    
            <div class="my-contact-details-and-whatsapp">
                <div class="whatsapp">
                    <i class="fab fa-whatsapp"></i>
                </div>
                <div class="my-contact-details hvr-rectangle-out">

                    <h3 >GET IN TOUCH</h3>
                    <div class="getintouch-paragraph">
                            <i class="fas fa-map-marker-alt"></i>
                            <p class="grey-color">Vilakuthoon, Madurai</p>
                    </div>
                    <div class="getintouch-paragraph">
                            <i class="fas fa-mobile-alt"></i>
                            <p class="grey-color">6382821383</p>
                        
                        </div>
                    <div class="getintouch-paragraph">
                            <i class="far fa-envelope"></i>
                            <p class="grey-color">
                                <a href="mailto:varshan1206@gmail.com">varshan1206@gmail.com</a>
                            </p>
                    </div>
                    <h3>FOLLOW US ON</h3>
                    <ul class="socialmedia-icons">
                        <a href="#"><li class="twitter"><i class=" fab fa-twitter"></i></li></a>
                        <a href="#"><li class="facebook"><i class=" fab fa-facebook-f"></i></li></a>
                        <a href="#"><li class="google-plus"><i class=" fab fa-google-plus-g"></i></li></a>
                        <a href="#"><li class="instagram"><i class=" fab fa-instagram"></i></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}