.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a43f49;
  z-index: 999999;
  }


.spinner {
  width: 40px;
  height: 40px;
  background-color: white;

  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}









body{
      background-color: black;
      color:white;
      font-family: 'PT Sans Narrow', sans-serif;
      margin:0;
      padding:0;

  }


  .top{
      text-align: center;
      margin:0 120px;
  }
  .title{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* padding:100px 0; */
      margin: 120px 0 60px 0;
  }
    
  #title{
      text-transform: uppercase;
      font-size: 5vw;
      font-family: 'Josefin Sans', sans-serif;
      color:white;
      margin:0;
      /* padding:100px 0 ; */
      /* padding:100px 0; */
      text-align: center;
  }

  .small-desc{
      text-align: center;
      font-style: italic;
      
  }

  .title-line{
      max-width: 100%;
      height:auto;
  }

  .line{
      background-image: url("/static/img/others/title-line.png");
      padding:10px;
      margin-bottom: 50px;
  }

  .footer{
      text-align: center;
      margin: 80px 0;
  }

  .footer .additional,.payment-icons{
      list-style: none;
      padding:0;
      /* margin: 10px;    */
  }

  .footer .additional li{
      display:inline;
      text-transform: uppercase;
      padding:10px;
      transition: all 0.3s ease-in;
      cursor:pointer;
  }
 
  .footer .additional li:hover{
      color:#cc2366;
  }

  .footer p{
      font-weight: bold;
      color:#706d6d;
  }
  .payment-icons{
      margin: 30px 0;
  }

  .payment-icons li{
      /* margin-top:100px; */
      font-size: 35px;
      color:#706d6d;
      display:inline;
      width: fit-content;
      margin: 10px;
      transition: all 0.3s ease-in;
      cursor:pointer;
  
  }

  .payment-icons li:hover{
      color:white;
  }

  .footer a{
      color:white;
      text-decoration: none;
      transition: all 0.3s ease-in;

  }
  .footer a:hover{
      color:#cc2366;
  }











  .sticky{
    position: fixed;
    top:0;
    /* right:0; */
    z-index: 999;
  }
    
    
    .container{
    perspective: 800px;
    position: relative;
  }
    
    .navbar{
    position: relative;
    height:110px;
    width:100vw;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    transform:translateZ(-55px);
    }
    
    
    .side{
    backface-visibility: hidden;
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
      
    }

    .div-icon{
    width:20%;
    display:flex;
    justify-content:center;
    align-items:center;
    height:110px;
    position: relative;
    transition: all 0.3s ease-in-out;  
    }
    
    .items{
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
    color:white;
    font-weight: 600;
    letter-spacing: 1px;

    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;  
    transition: all 0.3s ease-in-out;
    }

    .left-bracket,
    .right-bracket{
      /* margin: 10px; */
      display:flex;
      justify-content:center;
      align-items:center;
      opacity:0;
      /* transform: scale(0);   */
      transition: opacity 0.3s ease-in-out;
      transition: margin 0.3s ease-in-out;

      margin: 0px 0px;
    
    }
  
    .div-icon:hover .left-bracket,
    .div-icon:hover .right-bracket{
      /* transform: scale(1);   */
      opacity:1;
    
      margin:0px 15px;
    
    }
        
.nav-icon{
  z-index: -1;
  color:#C1C1C1;
  font-size: 50px;
  display:flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  transform: scale(1.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;  
  }
    

    
  .div-icon:hover,
  .div-icon:active{
      
    background-color: white;
    color:black;
    z-index: 2;
  }
    
  .div-icon:hover a,
  .div-icon:active a{
  
    color:black;
  }
  
  
  .div-icon:hover .nav-icon,
  .div-icon:active .nav-icon{
    opacity: 1;
    transform: scale(0.8);  
    
  }
  
  .div-icon:hover .left-bracket,
  .div-icon:hover .right-bracket{
    /* transform: scale(1);   */
    opacity:1;
  
    margin:0px 15px;
  
  }
  
    
  
  .activenavbar{
    background-color: white;
    color:black;
    z-index: 2;
  }
  
  .activenavbar a{
    background-color: white;
    color:black;
    z-index: 2;
  }
  
  
  .activenavbar .left-bracket,
  .activenavbar .right-bracket{
    /* transform: scale(1);   */
    opacity:1;
    margin:0px 15px;
  
  }
          
  
.activenavbar .nav-icon{
  opacity: 1;
  transform: scale(0.8);  
  
}

  
    
    
    .default-side{
      right:0;
      margin:10px;
      width:fit-content;
      color:black;
      transform: translateZ(55px);
      /* background-color: brown; */
      opacity:0;
    } 
    
    .hover-side{
      color:white;
      background-color: black; 
      transform:rotateX(90deg) translateZ(55px);
    
    }
    
    .close-side{
      position: absolute;
      width: 100%;
      height:110px;    
      top:0;
      z-index: 1;
      background-color: rgba(0,0,0,0.5);
      /* transition: all 0.5s ease-in-out; */
      font-size: 26px;  
      color:white;
      font-weight: lighter;
    }

     
    .close-box{
      position: absolute;
      right:100px;
      top:40px;
      cursor:pointer;
    }
    
    
    #closeid{
      display:none;
    
    }

    .close-side a{
      text-decoration: none;
      width: fit-content;
    }
    
    #sod{
      width: fit-content;
      /* background-color: #a43f49; */
    
      color:white;
      font-size: larger;
      position: absolute;
      top:30px;
      left:87px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    
    #red{
      display: inline;
      color:rgb(240, 18, 18);
    }
    