.shop-item-container{
margin:50px 30px;
}


.shop-item{
    width:220px;
    margin:15px;
    /* background-color: aqua; */
    height:fit-content;
}

.item-img{
    /* background-color: blue; */
    overflow: hidden;
    position: relative;
} 


.item-img img{
    max-width: 100%;
    height:auto;
    display:block;
    /* background-color: #a81c51; */
    /* opacity:0.3; */
    /* z-index: 3; */

}


.item-img:after{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: #a81c51;
    opacity:0.4;
    z-index: 3;
}


.options{
    position: absolute;
    margin:0;
    bottom:-38px;
    left:0;
    right:0;
    width:100%;
    display:flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    transition: bottom 0.3s cubic-bezier(.32,2,.55,.27);
}

.shop-item:hover .options{
    bottom:0;
}


.options-btn{
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    text-transform:uppercase;
    background-color:#cc2366;
    letter-spacing: 1px;
    width:49.76%;
    margin:0;
    padding:10px;
    border:0;
    outline:0;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.options-btn i{
    padding-right:5px;
}



.item-desc{
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 1px;
    
    /* background-color: blue; */
}

.item-name{
    /* margin:10px; */
    font-size: 30px;
}

.item-price{
    /* margin:10px; */

    font-weight: bolder;
}


.hvr-shutter-out-horizontal {
    transform: translateZ(0);
    position: relative;
    /* background: #a81c51; */
    transition: color 0.4s;
  }
  
  .hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function:cubic-bezier(.32,2,.55,.27);
  }
  
  .active{
    background-color: white;
    color:#a81c51
  }
  
  .hvr-shutter-out-horizontal:hover{
    color: #a81c51;
    cursor: pointer;
  }
  
  .hvr-shutter-out-horizontal:hover:before{
    transform: scaleX(1);
  }
  